#cabecalho {
	font-family: verdana;
	-moz-border-radius: 10px 10px 10px 10px;
}

#cabecalho h1 {
	font-size: 14pt;
	font-style: italic;
	font-weight: normal;
	margin: 8px 8px 0 8px;
}

#cabecalho h1 b {
	font-size: 32pt;
	font-style: normal;
	font-weight: bold;
}

#cabecalho h1 b a {
	color: #000000;
	text-decoration: none;
}

#cabecalho ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
	background-color: #C3D9FF;
	-moz-border-radius: 0 0 9px 9px;
}

#cabecalho ul li {
	margin: 0px;
	padding: 5px;
	display: inline;
}

#cabecalho ul li a {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
}