#corpo {
	margin-top: 5px;
	padding-bottom: 10px;
	border-top: 1px solid #0000CC;
	border-bottom: 1px solid #0000CC;
	text-align: left;
}

#corpo h1 {
	margin-top: 0px;
	padding-left: 5px;
	background-color: #e5ecf9;
	font-size: 14pt;
}

#corpo h2 {
	font-size: 12pt;
	padding-left: 5px;
	border-bottom: 1px solid #CCCCCC;
}