body {
	margin: 64px;
	font-family: "lucida grande", verdana, lucida, sans-serif;
	font-size: 8pt;
	background-color: #FFFFFF;
	color: #505050;	
}

a {
	color: #9999ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}