<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="autodetect">

    <!-- hibernate session -->
    <bean id="sessionFactory" class="br.bipweb.util.HibernateSessionFactory" singleton="true" />
    
    <bean id="session" class="org.hibernate.Session" factory-bean="sessionFactory" factory-method="getSession" singleton="false" />
    
    <!-- dao -->
    <bean id="categoryDao" class="br.bipweb.dao.hibernate.HibernateCategoryDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean> 
        
    <bean id="historyDao" class="br.bipweb.dao.hibernate.HibernateHistoryDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>
    
    <bean id="userDao" class="br.bipweb.dao.hibernate.HibernateUserDao" singleton="false">
    	<constructor-arg ref="session" />
    </bean>                 

	<!-- Actions -->        
	<bean id="categoryAction" class="br.bipweb.control.action.CategoryAction" singleton="false" />
	
	<bean id="historyAction" class="br.bipweb.control.action.HistoryAction" singleton="false" />
	
	<bean id="searchAction" class="br.bipweb.control.action.SearchAction" singleton="false" />
	
	<bean id="userAction" class="br.bipweb.control.action.UserAction" singleton="false" />			
</beans>
