#cabecalho {
	font-family: verdana;
	background-color: #FFF7D7;
	-moz-border-radius: 8px 8px 0 0;
}

#cabecalho h1 {
	font-size: 12pt;
	font-style: italic;
	font-weight: normal;
	margin: 8px 8px 0 8px;
}

#cabecalho h1 b {
	font-size: 32pt;
	font-style: normal;
	font-weight: bold;
}

#cabecalho h1 b a {
	color: #000000;
	text-decoration: none;
}

#cabecalho ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: right;
	background-color: #FAD163;
	-moz-border-radius: 8px 8px 0 0;
}

#cabecalho ul li {
	margin: 0px;
	padding: 5px;
	display: inline;
}

#cabecalho ul li a {
	color: #0000CC;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
}

#cabecalho ul li b {
	margin-left: 5px;
	float: left;
	color: #000000;
}