<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

	<session-factory>
	
	   <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	   <property name="hibernate.connection.url">jdbc:mysql://localhost/curriculos</property>
	   <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	   <property name="hibernate.connection.username">root</property>
	   <property name="hibernate.connection.password">root</property>

	   <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>

 	   <mapping class="br.ufal.ic.parser.bean.CurriculoVitae" />
 	   <!-- 
 	   <mapping class="br.ufal.ic.parser.bean.DadosComplementares" />
 	   -->
 	   <mapping class="br.ufal.ic.parser.bean.DadosGerais" />
 	   <!-- 
 	   <mapping class="br.ufal.ic.parser.bean.OutraProducao" />
 	   -->
 	   <mapping class="br.ufal.ic.parser.bean.ProducaoBibliografica" />
 	   <!--
 	   <mapping class="br.ufal.ic.parser.bean.ProducaoTecnica" />
 	    -->
 	   
 	   <!-- 
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.AreaAtuacao" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.Endereco" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.FormacaoAcademicaTitulacao" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.Idioma" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.OutrasInformacoesRelevantes" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.PalavrasChave" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.PremioTitulo" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.ProjetoPesquisa" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.ResumoCv" />
 	   
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.endereco.EnderecoProfissional" />
 	   <mapping class="br.ufal.ic.parser.bean.dadosgerais.endereco.EnderecoResidencial" />
 	    -->
 	    
 	   <mapping class="br.ufal.ic.parser.bean.producaobibliografica.ArtigoPublicado" />
 		
	</session-factory>

</hibernate-configuration>
	